// Define variables for your color scheme

// For example:
$red: #F53018;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;

// BIA Colors Green
$bdark: #007C82;
$bmedium: #00B8C2;
$bmediumo: rgba(0, 184, 194, 0.3);
$blight: #00F2FF;

// BIA Gray Scale
$gdark: #252525;
$gmedium: #757575;
$glight: #F2F2F2;

