@media screen and (min-width: $screen-vsm-min) {
  .container-bia {
    width: 371px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .container-bia {
    width: 570px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-md-min) {
  .container-bia {
    width: 760px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .container-bia {
    width: 990px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-xl-min) {
  .container-bia {
    width: 1200px;
    margin: 0 auto;
  }
}


