@media screen and (max-width: $screen-vsm-min) {
  .container-bia {
    width: 310px;
    margin: 0 auto;
  }
  .container-bia-navbar {
    width: 310px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-vsm-min) {
  .container-bia {
    width: 310px;
    margin: 0 auto;
  }
  .container-bia-navbar {
    width: 310px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .container-bia {
    width: 570px;
    margin: 0 auto;
  }
  .container-bia-navbar {
    width: 570px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-md-min) {
  .container-bia {
    width: 740px;
    margin: 0 auto;
  }
  .container-bia-navbar {
    width: 740px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .container-bia {
    width: 990px;
    margin: 0 auto;
  }
  .container-bia-navbar {
    width: 990px;
    margin: 0 auto;
  }
}

@media screen and (min-width: $screen-xl-min) {
  .container-bia {
    width: 1050px;
    margin: 0 auto;
  }
  .container-bia-navbar {
    width: 1050px;
    margin: 0 auto;
  }
}

.small-center-container {
  width: 25rem;
  margin: auto;
}

.container-bia {
min-height: calc(100vh);
}
