.action-bar {
  width: 30%;
  padding-right: 1.5*$spacer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.review-and-map {
  flex-grow: 100;
  padding-left: 1.5*$spacer;
  img {
    width: 100%
  }
}
