.restaurant-show-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $spacer;
  grid-template-rows: auto;
}

.font-size-awesome {
  font-size: 20px;
}

.height-260 {
  height: 260px;
}
