<% if average == 1 %>
  <span> € </span>
<% elsif average == 2 %>
  <span> €€ </span>
<% elsif average == 3 %>
  <span> €€€ </span>
<% elsif average == 4 %>
  <span> €€€€</span>
<% else %>
  <span> n/a </span>
<% end %>
