<% if average == 1 %>
  <span> on-the-go </span>
<% elsif average == 2 %>
  <span> casual </span>
<% elsif average == 3 %>
  <span> nice evening out </span>
<% elsif average == 4 %>
  <span> fine dining </span>
<% end %>
