<div class="footer">
  <div class="footer-container">
    <div class="discover-review-footer-card">
      <div class="discover-footer-card">
        <h5>Discover</h5>
        <%= link_to "Places nearby", '#' %>
        <%= link_to "Place for today", '#' %>
      </div>
      <div class="rewiew-footer-card">
        <h5>Overview</h5>
        <%= link_to "Recent recommendations", '#' %>
      </div>
    </div>


  </div>
</div>



<!-- <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div> -->

<!--     <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div> -->
