<h5 class="mb-2">Price</h5>
<div class="bia-radio-bar mb-2">
  <%= f.input_field :price,
            as: :radio_buttons,
            collection: [[1, '€'], [2, '€€'], [3, '€€€' ], [4, '€€€€']],
            label_method: :second,
            value_method: :first%>
</div>
