<div class="bia-modal" id='recommend-modal'>

  <div class="modal-review-content">
    <p>Some text in the modal and some more and more and more</p>
    <p>Some text in the modal and some more and more and more</p>
    <p>Some text in the modal and some more and more and more</p>
    <span class="modal-close biabutton"> Close </span>


  </div>

</div>
