<div class="bia-modal" id='recommend-modal'>

  <div class="modal-review-content">
    <i class="fas fa-window-close modal-close close-button"></i>
    <%= render 'selections/recommendation_form', restaurant: restaurant, selection: selection%>
  </div>

</div>
