<%= render 'shared/navbar' %>
<div class="container-bia mt-5">
  <div class="index-restaurants-layout">
    <h2><%= @user.name %></h2>
    <h2>Followers</h2>
    <%= render 'shared/users/profile_info' %>
    <div>
      <% @friendships.each do |friendship| %>
          <%= render 'shared/friendships/card', user: friendship.asker %>
      <% end %>
    </div>
  </div>
</div>
