<%= render 'shared/navbar' %>
<div class="container-bia mt-5 search-page-layout">
  <h2>About BIA</h2>
  <p>BAI is the ideal place to find restaurants that perfectly match your tastes! Connect with friends you trust for recommendations and always stay up to date with what they try. Recommend and bookmark restaurants to let followers know what you are up to and save places you might want to go to for later.</p>
  <p>BAI is a project developed at <a href="https://www.lewagon.com/">Le Wagon</a> Berlin Batch 322</p>

</div>
