<%= render 'shared/navbar' %>
<div class="container-bia">

  <h1>h1: Landing page</h1>
  <h2>h2 title - Standard title </h2>
  <h3>h3 title - not really to be used </h3>
  <h4>h4 title - for Navbar (in reality to be used with active class)</h4>


  <p class="h4-style">Fake h4 style</p>
  <h5>h5 title</h5>
  <p class="h5-style">Fake h5 and 6 style</p>


  <h6>h6 title - Sub-titles</h6>
  <a href="www.google.de" > I'm a link </a>

  <p>Regular paragraph / description</p>

  <button type="button" class="biabutton">click me</button>

</div>



