<% content_for :meta_title, "BIA" %>
<%= render 'shared/navbar_sticky' %>
<%= render 'shared/banner' %>
<div class="container-bia">
  <!-- Featured User element on landing page -->
  <div class="user-feature-card user-feature-card-large-photo mt-7">
    <!-- Title of featured user in this case spanning 2 columns in the grid -->
    <h2 class="user-feature-card-title">Talik suggests you try some Peruvian ceviche!</h2>
    <!-- Image covering the full 2 row grid-->
    <img class="image-rounded-corners user-feature-card-image-full-height" src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
    <!-- first element introducting the user -->
    <div class="d-flex user-feature-card-user">
      <img class="avatar-large" src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80" alt="user image">
      <div class="ml-4">
        <h5>Talik Naruma</h5>
        <p class="mt-2">Talik loves peruvian ceviche and knows his way around the cuisine like few others. There is no one quite like him to get recommendations from!</p>
      </div>
    </div>
    <!-- second element containing a recommendation -->
    <div class="user-feature-card-review">
      <h5 class="">Talik’s Recommendation:</h5>
      <h5 class="mt-2">Cevicheria in Berlin for modern peruvian</h5>
      <p class="mt-2">The place has some of the best ceviche in town no question! The quality of the fish is outstanding!</p>
    </div>
  </div>
  <div class="user-feature-card user-feature-card-small-photo mt-7">
    <!-- Title of featured user in this case spanning 2 columns in the grid -->
    <h2 class="user-feature-card-title">Smanatha recommends Russian street food!</h2>
    <!-- first element introducting the user -->
    <div class="d-flex user-feature-card-user">
      <img class="avatar-large" src="https://images.unsplash.com/photo-1541943181603-d8fe267a5dcf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=912&q=80" alt="user image">
      <div class="ml-4">
        <h5>Samantha Hausmann</h5>
        <p class="mt-2">Samantha has been to more Restaurants serving Russian Street Food than just about anyone.</p>
      </div>
    </div>
    <!-- Image covering the full 2 row grid-->
    <div class="user-feature-card-image-half-height">
      <img class="image-rounded-corners user-feature-card-image-half-height span-1-2" src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="">
    </div>
    <!-- second element containing a recommendation -->
    <div class="user-feature-card-review">
      <h5 class="">Samantha's Recommendation:</h5>
      <h5 class="mt-2">Resrus in Berlin for Authentic Russian Food</h5>
      <p class="mt-2">The food at this place is just like in Moscow, just in Berlin that is.</p>
    </div>
  </div>
</div>
<div class="container-bia">
  <!-- Featured User element on landing page -->
  <div class="user-feature-card user-feature-card-large-photo mt-7">
    <!-- Title of featured user in this case spanning 2 columns in the grid -->
    <h2 class="user-feature-card-title">Joris would encourage you to try some delicious Vietnamese food!</h2>
    <!-- Image covering the full 2 row grid-->
    <img class="image-rounded-corners user-feature-card-image-full-height" src="https://images.unsplash.com/photo-1555126634-323283e090fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80" alt="">
    <!-- first element introducting the user -->
    <div class="d-flex user-feature-card-user">
      <img class="avatar-large" src="https://media.licdn.com/dms/image/C4D03AQHdabsHrd8xIA/profile-displayphoto-shrink_800_800/0?e=1580342400&v=beta&t=ZxXNsIrKJbE02fYglOLtUM-vclH08rcMb7zLLeQFCxI" alt="user image">
      <div class="ml-4">
        <h5>Joris Kuehnast</h5>
        <p class="mt-2">Joris enjoys all sorst of asian cuisine but is particularly drawn towards Vietnamens Soups.</p>
      </div>
    </div>
    <!-- second element containing a recommendation -->
    <div class="user-feature-card-review">
      <h5 class="">Joris' Recommendation:</h5>
      <h5 class="mt-2">Monsieur Vuong is a vibrant small Vietnamese Restaurant</h5>
      <p class="mt-2">Th Pho is my go to here but you can really get jsut about anythingand it will be great and quick.</p>
    </div>
  </div>
</div>
