<button class="quick-action block" id="open-share-modal">Share > </button>
<button class="quick-action block">Make a reservation > </button>
<button class="quick-action block">Suggest an edit > </button>
