<button class="quick-action block" id="open-share-modal">Share</button>
<% if !restaurant.reservation.nil? && restaurant.reservation != "" %>
  <%= link_to "Make a reservation", restaurant.reservation, target: "_blank", class: "quick-action block"  %>
<% end %>
<% if !restaurant.menu.nil? && restaurant.menu != "" %>
  <%= link_to "See the menu", restaurant.menu, target: "_blank", class: "quick-action block"  %>
<% end %>
<%= link_to "Suggest an edit", contact_path , target: "_blank", class: "quick-action block"  %>
