<div class="width-100-pc d-flex justify-content-between">
  <%= link_to "<i class='fas fa-bullhorn'>" , restaurant_selections_path(restaurant), method: :post, class: 'biabutton'  %>
  <button class ="biabutton size-48-pc font-size-awesome"> <i class="fas fa-bookmark"></i> </button>
</div>
