<% selection = Selection.find_by(user: current_user, restaurant: restaurant) %>
<% bookmarked = selection.bookmarked if !selection.nil?%>
<%recommended = selection.recommended if !selection.nil? %>

<div class="width-100-pc d-flex justify-content-between">
  <%= render 'shared/restaurants/recommend_button', restaurant: restaurant, selection: recommendation%>
  <%= render 'shared/restaurants/bookmark_button', restaurant: restaurant, recommendation: recommendation%>
</div>

