<% selection = Selection.find_by(user: current_user, restaurant: restaurant) %>
<%recommended = selection.recommended if !selection.nil? %>
<button class ="biabutton<%=" biabutton-active" if recommended%> size-48-pc font-size-awesome" id="open-modal"> <i class="fas fa-bullhorn"></i> </button>
