<div class="index-restaurants-grid">
  <% if defined?(user_to_exclude) %>
    <% restaurants.each do |restaurant| %>
        <%= render 'shared/card', data: {restaurant: restaurant, user_to_exclude: user_to_exclude}%>
    <% end %>
  <% else %>
    <% restaurants.each do |restaurant| %>
      <%= render 'shared/card', data: {restaurant: restaurant}%>
    <% end %>
  <% end %>
</div>
<%= render 'shared/pageinator', elements: restaurants, current_page: current_page, total_pages: total_pages %>
