<% @reviews.where(recommended: true).each do |selection| %>
  <div class="review-card">
    <%= cl_image_tag selection.user.photo, class: "avatar-large" %>
    <div class="core-review">
      <h5 class='my-1'> <%= selection.user.name %> </h5>
      <p class='my-1'> <%= selection.review %> </p>
      <p class="small-font mt-1"> Posted on <%= selection.updated_at.strftime('%a %d %b %Y') %></p>
    </div>
  </div>
<% end %>
