<% @restaurant.selections.each do |selection| %>
  <div class="review-card">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.studiocabrelli.com%2Fwp-content%2Fuploads%2F2015%2F01%2Fbon-cadeau-portrait-studio1.jpg&f=1&nofb=1" alt="" class='avatar-large'>
    <div class="core-review">
      <h5 class='my-1'> <%= selection.user.name %> </h5>
      <p class='my-1'> <%= selection.review %> </p>
      <p class="small-font mt-1"> Posted on <%= selection.created_at.strftime('%a %d %b %Y') %></p>
    </div>
  </div>
<% end %>
