<!-- <div class="bia-modal" id='edit-recommend-modal'>

  <div class="modal-review-content">
    <i class="fas fa-times edit-modal-close close-button"></i>
    <div class = "modal-core-window">
      <div id="rcmd-form">
        <#%= render 'selections/edit_recommendation_form', restaurant: restaurant, selection: selection%>
      </div>
    </div>
  </div>

</div>

 -->
