<% content_for :meta_title, "BIA - Discover" %>
<%= render 'shared/navbar' %>

<div class="container-bia mt-5">
  <div class="page-title-1-2">
    <h2>Hello, <%= current_user.name %></h2>
    <h2>Timeline</h2>
  </div>
  <div class="index-selections-layout mt-4">
    <div class="side-filter">
      <p> This is a placeholder for the filter which will come later at some point when it is ready</p>
    </div>
    <div class="index-selection-show">
      <% @selections.each do |selection| %>
        <%= render 'shared/discover_elements_selections', selection: selection %>
      <% end %>
      <% current_user.friendships_as_receiver.each do |friendship| %>
        <%= render 'shared/discover_elements_friendships', friendship: friendship %>
      <% end %>
    </div>
  </div>
</div>
