<div class="width-100-pc d-flex justify-content-between">
  <button class ="biabutton size-48-pc font-size-awesome"> <i class="fas fa-bullhorn"></i> </button>
  <button class ="biabutton size-48-pc font-size-awesome"> <i class="fas fa-bookmark"></i> </button>
</div>
