<% @restaurant.selections.each do |selection| %>
  <div class="review-card">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.studiocabrelli.com%2Fwp-content%2Fuploads%2F2015%2F01%2Fbon-cadeau-portrait-studio1.jpg&f=1&nofb=1" alt="" class='avatar-small'>
    <div class="core-review">
      <h5> <%= selection.user.name %> </h5>
      <p> <%= selection.review %> </p>
      <p> Posted on <%= selection.created_at.strftime('%a %d %b %Y') %></p>
    </div>
  </div>
<% end %>
