<% content_for :meta_title, "BIA - Overview" %>
<%= render 'shared/navbar' %>
<div class="container-bia mt-5 index-restaurants-layout">
    <h2 class="text-center find-search-heading">Search</h2>
    <div class="d-flex justify-content-between align-items-center">
      <h2>Recommended Places</h2>
      <i id="map-btn" class="biabutton font-size-awesome fas fa-map-marked-alt"></i>
      <i id="list-btn" class="hidden biabutton font-size-awesome fas fa-stream"></i>
    </div>
    <div class="side-filter" id="index-side-filter">
      <%= render 'shared/restaurants/filter' %>
    </div>
    <div id="index-restaurants-grid">
      <div id="list-container" class="">
        <%= render 'shared/restaurants/restaurant_card_grid', restaurants: @restaurants, current_page: @current_page, total_pages: @total_pages %>
      </div>
      <div id="map-container" class="hidden">
        <%= render 'shared/map' %>
      </div>
    </div>
</div>
