<%= render 'shared/navbar' %>
<div class="container-bia mt-5">
  <div class="page-title-1-2">
    <h2>Search</h2>
    <div class="d-flex justify-content-between align-items-center">
      <h2>Recommended Places</h2>
      <i class="biabutton font-size-awesome fas fa-map-marked-alt"></i>
    </div>
  </div>
  <div class="index-restaurants-layout">
    <div class="side-filter">
    </div>
    <div class="index-restaurants-grid">
      <% @restaurants.each do |restaurant| %>
        <%= render 'shared/card', restaurant: restaurant %>
      <% end %>
    </div>
  </div>
</div>

