<%= render 'shared/navbar' %>

<div class="container-bia">

  <h2> <%= @restaurant.name %></h2>

  <div class="main-restaurant-content d-flex my-4">
    <div class="action-bar">
      <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/13/8f/1a/fe/c-boaz-arad.jpg" %>
    </div>
    <div class="show-main-content">
      <%= image_tag "placeholder_map" %>
    </div>
  </div>

</div>
