<%= link_to(user_path(user)) do %>
  <div class="friedship-card p-3 mb-3">
    <!-- default friendship card -->
      <% if user.photo? %>
          <div class="avatar-large" style="background-image: url('<%= cl_image_path user.photo %>')"></div>
      <% else %>
        <%= cl_image_tag 'snmjibatw66rduqpmt3b', class: "avatar" %>
      <% end %>
    <div class="friendship-content ml-3">
        <h5><%= user.name %> -Location(ToDO)</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis officiis qui corporis sapiente, maiores, quisquam saepe possimus modi.</p>
    </div>
  </div>
<% end %>
