.alert {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1000;
}

.alert-bia-info {
  color: $gdark;
  background-color: $glight;
}

.alert-bia-warning {
  color: $gdark;
  background-color: $glight;
}
