.avatar-very-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-large {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-bordered {
  border: white 2px solid;
}

.image-overlay-left {
  margin-left: -5px;
}
