.avatar-very-small {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-small {
  width: 40px;
  border-radius: 50%;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}
.avatar-large {
  width: 65px;
  border-radius: 50%;
}
.avatar-bordered {
  border: white 2px solid;
}

.image-overlay-left {
  margin-left: -5px;
}
