.bia-banner {
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr 40px;

}


@media screen and (max-width: $screen-vsm-min) {
  .h1-text-responsive {
    font-size: 1.8 * 1rem;
  }
  .h3-text-responsive {
    font-size: 1.2 * 1rem;
  }
}

@media screen and (min-width: $screen-vsm-min) {
  .banner-text-alignement {
    h1, h3{
      width: 85%;
    }
  }
  .h1-text-responsive {
    font-size: 1.8 * 1rem;
  }
  .h3-text-responsive {
    font-size: 1.2 * 1rem;
  }
  .bia-banner {
    height: 40vh;
    min-height: 300px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .banner-text-alignement {
    h1, h3{
      width: 80%;
    }
  }
  .h1-text-responsive {
    font-size: 2 * 1rem;
  }
  .h3-text-responsive {
    font-size: 1.2 * 1rem;
  }
  .bia-banner {
    height: 40vh;
    min-height: 300px;
  }
}

@media screen and (min-width: $screen-md-min) {
  .banner-text-alignement {
    h1, h3{
      width: 65%;
    }
  }
  .h1-text-responsive {
    font-size: 2.5 * 1rem;
  }
  .h3-text-responsive {
    font-size: 1.5 * 1rem;
  }
  .bia-banner {
    height: 40vh;
    min-height: 300px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .banner-text-alignement {
    h1, h3{
      width: 80%;
    }
  }
  .bia-banner {
    height: 45vh;
    min-height: 300px;
  }
}

@media screen and (min-width: $screen-xl-min) {
  .banner-text-alignement {
    h1, h3{
      width:100%;
    }
  }
  .bia-banner {
    height: 50vh;
    min-height: 300px;
  }
}
