// Standard buttons

.biabutton {
  display: inline-block;
  background-color: $glight;
  padding: $medium-space $spacer;
  margin: $medium-space 0;
  border-width: 0px;
  border-radius: $border-radius;
  color: $gmedium;
  &:hover {
  color: $bmedium;
  }
}

.biabutton-active {
  display: inline-block;
  background-color: $glight;
  padding: $medium-space $spacer;
  margin: $medium-space 0;
  border-width: 0px;
  border-radius: $border-radius;
  color: $bmedium;
  &:hover {
  color: $gmedium;
  }
}

// x-to close button
.close-button {
  color: $gmedium;
  font-size: 20px;
}


// Quick action button / links

.quick-action {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-width: 0px;
  margin: $medium-space 0;
  padding: 0;
  color: $bdark;
  &:hover {
    color: $bmedium;}
}

.bia-button-highlight {
  display: inline-block;
  background-color: $bmedium;
  padding: $medium-space $spacer;
  margin: $medium-space 0;
  border-width: 0px;
  border-radius: $border-radius;
  color: $glight;
  &:hover {
  background-color: $gmedium;
  color: $glight;
  }
}

.block {
  display: block;
}

.level-buttons {
  display: flex;
  justify-content: space-between;
}


// radiobar with text - (i.e., one field only)

.bia-radio-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4*$spacer;
  border: 4px solid $glight;
  border-radius: $border-radius;
}

.bia-radio-bar .form-check {
  width: 25%;
}
.bia-radio-bar label {
  width: 100%;
  padding: $spacer 0 $spacer $spacer;
  font-size: $h4-font-size;
  color: $gmedium;
}
.bia-radio-bar input {
  display: none;
  padding: 0 $spacer;

  &:checked + label{
    color: $bmedium
  }
}

// radiobuttons with images - (i.e., seperate fields per selection)

.bia-radio-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4*$spacer;
}

.bia-radio-button .form-check {
  width: 23%;
  padding: 0;
}

.bia-radio-button label {
  width: 100%;
  padding-top: 2.6*$spacer ;
  font-size: $font-size-sm;
  color: $gmedium;
  background-color: $glight;
  text-align: center;
  height: 4*$spacer;
  border-radius:$border-radius;
  background-image: url('shirt.svg');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center 1.1*$small-space;
  object-fit: cover;
}

.bia-radio-button input {
  display: none;
  padding: 0 $spacer;

  &:checked + label{
    color: $bmedium
  }
}
