// Standard buttons

.biabutton {
  display: inline-block;
  background-color: $glight;
  padding: $medium-space $spacer;
  margin: $medium-space 0;
  border-width: 0px;
  border-radius: $border-radius;
  color: $gmedium;
  &:hover {
  color: $bmedium;
  }
}

// Quick action button / links

.quick-action {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-width: 0px;
  margin: $medium-space 0;
  padding: 0;
  color: $bdark;
  &:hover {
    color: $bmedium;}
}

.bia-button-highlight {
  display: inline-block;
  background-color: $bmedium;
  padding: $spacer $spacer;
  margin: $medium-space 0;
  border-width: 0px;
  border-radius: $border-radius;
  color: $glight;
  &:hover {
  background-color: $gmedium;
  color: $glight;
  }
}

.block {
  display: block;
}
