.card-bia {
  background-color: $glight;
  border-radius: $border-radius;
}

.card-image {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

// review-card

.review-card {
  display: flex;
  align-items: center;
  .core-review {
    flex-grow: 1;
    padding: $spacer 0 $spacer $spacer;
    }
  .core-review{
    border-bottom: 1px solid $glight;
  }
}


// discover-feed card

.discover-activity-card {
  display: flex;
  align-items: flex-start;
  &:not(:nth-of-type(1)) {
    margin-top: $spacer*1.5;
  }
  .activity-content {
    flex-grow: 1;
    padding: 0 0 $spacer*1.5 $spacer;
    border-bottom: 1px solid $glight;
  }
}
