.card-bia {
  background-color: $glight;
  border-radius: $border-radius;
  position: relative;

  .biabutton-round, .biabutton-round-active {
    opacity: 0;
    transition: 0.2s ease;
  }
  &:hover .biabutton-round, &:hover .biabutton-round-active, &:hover .tag-hide {
    opacity: 1;
    transition: 0.2s ease;
  }
}

.card-bia-white {
  background-color: white;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;

  .biabutton-round, .biabutton-round-active {
    opacity: 0;
    transition: 0.3s ease;

  }
  &:hover .biabutton-round, &:hover .biabutton-round-active {
    opacity: 1;
    transition: 0.3s ease;
  }
}

.bottom-line {
  display: flex;
  justify-content: space-between;
}

.svg-dropdown {
  fill: $glight;
  &:hover {
    fill: $gmedium;
  }
}


.card-image {
  height: 155px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.default-card-content {
  height: 63.33px
}
// review-card

.review-card {
  display: grid;
  grid-template-columns: 65px 1fr;
  .core-review {
    flex-grow: 1;
    padding: $spacer 0 $spacer $spacer;
    }
  .core-review{
    border-bottom: 1px solid $glight;
  }
  .review-card-avatar{
    margin-top: $spacer;
  }
}


// discover-feed card

.discover-activity-card {
  display: flex;
  align-items: flex-start;
  &:not(:nth-of-type(1)) {
    margin-top: $spacer*1.5;
  }
  .activity-content {
    flex-grow: 1;
    padding: 0 0 $spacer*1.5 $spacer;
    border-bottom: 1px solid $glight;
  }
}


// friendship card for followers and following
.friedship-card {
  display: grid;
  grid-template-columns: 65px 1fr;
  background-color: $glight;
  border-radius: $border-radius;
}

// search results card
.other-search-result-card {
  background-color: $glight;
  border-radius: $border-radius;
  padding: $medium-space $spacer;
}

.user-location {
  color: $gmedium;
  font-weight: 400;
}


