.footer {
  background: #F2F2F2;
  height: 256px;

}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 1200px;
}

.rewiew-footer-card {

}

.you-footer-card {

}

.account-footer-card {

}

.bia-footer-card {

}








// flex-wrap: wrap;
