.footer {
  background: #F2F2F2;
}

.footer-upper-container {
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: auto;
  max-width: 1050px;
  margin: 0 auto;
  flex-wrap: wrap;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: $white;
  padding-bottom: 7*$small-space;
}

.footer-lower-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1050px;
  margin: 0 auto;
  padding-top: $spacer;
}

.footer-card {
  display: flex;
  flex-direction: column;
}

.upper-footer-card {
  width: 250px;
  @media (max-width: $screen-xl-min) {
    padding: 0 30px;
   }
}

.lower-footer-card {
  @media (max-width: $screen-xl-min) {
    padding: 0 30px;
   }
}

.terms-footer-card {
  display: flex;
  flex-wrap: wrap;
}

.footer-icon {
  font-size: 30px;
}


// Not used yet
// .white-border-container {
//   border-style: solid;
//   border-color: $white;
//   border-width: thin;

// }








// flex-wrap: wrap;
