.footer {
  background: #F2F2F2;
  height: 256px;
}

.footer-container {
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: auto;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-card {
  display: flex;
  flex-direction: column;
}

.discover-overview-footer-card {
  width: 300px;
}

.you-footer-card {
  width: 300px;
}

.account-footer-card {
  width: 300px;
}

.bia-footer-card {
  width: 300px;
}








// flex-wrap: wrap;
