.input-field {
  height: 40px;
  border: 4px solid $glight;
  border-radius: $border-radius;
  padding: $small-space $medium-space;
}

.simple_form-align {
  display:inline-block
}

.form-remove-b-margin {
  .form-group {
    margin-bottom: 0px;
  }
}
