
//The modal box

.bia-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

// The modal content

.modal-review-content {
  margin: 5% auto;
  padding: 20px;
  background-color: $white;
  border-radius: $border-radius;
  width: 35%;
  .biabutton:focus {
    color: $bmedium;
  }
}

.modal-core-window {
  padding: 30px;
}


// Close button

.modal-close {
  float: right;
  color: $glight;
  &:hover {
    color: $gmedium;
  }
}
