
//The modal box

.bia-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

// The modal content

.modal-review-content {
  margin: 15% auto;
  padding: 20px;
  background-color: $white;
  border: 1px solid $gmedium;
  width: 50%;
  .biabutton:focus {
    color: $bmedium;
  }
}


// Close button

.modal-close {
  float: inline-end;
}
