
.navbar-sticky {
  position: sticky;
  top: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  color: $gdark;
}

.navbar-bottom-border {
  border-bottom: 2px solid $glight;
  background-color: white;
}


.navbar-link {
  color: $gdark;

  &:hover {
    color: $bmedium;
  }
}

.active {
  color: $bmedium;
}
