// Classes to format images

.image-cover {
  object-fit: cover;
}

// Class to make grey links that turn black (esp. footer)
.link-grey {
  color: $gmedium;
}

.link-grey:hover {
  color: $gdark;
}


// class to set img width to 100%
.width-100-pc {
  width: 100%;
}

.width-75px {
  width: 75px;
}

.text-align-center {
  text-align: center;
}

.padding-spacer {
  padding: $spacer;
}

.height-100-pc {
  height: 100%;
}

.height-25-px {
  height: 25px;
}

.size-48-pc {
  width: 47%
}

//Class to hide element

.hide {
  display: none;
}

#share-submit {
  display: none;
}

//Set input field outlines to none (i.e., not blue) everywhere

input {
  outline: none;
}


// EXCEPTIONS ONLY: Set stile to h4 or h5 for other text

.link-style {
  color: $bdark;
  &:hover {
    color: $bmedium;
  }
}

.p-style {
  font-weight: normal;
  color: $gmedium;
  font-size: $font-size-base;
}

.h4-style {
  font-weight: $font-weight-medium-sans-serif;
  color: black;
  font-size: $h4-font-size;
}

.h5-style {
  font-weight: $font-weight-medium-sans-serif;
  color: black;
  font-size: $h5-font-size;
}

.small-font {
    font-size: $font-size-sm;
  }

.red-font {
  color: $red;
}

.image-rounded-corners {
  border-radius: $border-radius;
}

.page-title-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  grid-gap: $spacer;
}

.image-containing-div {
  display: flex;
}

.text-center {
  display:flex;
  align-items: center;
}

.text-color-black{
  color: black;
}

textarea {
  outline: none;
}

button {
  outline: none;
  &:focus {
    outline: none;
  }
}


