.h4-style {
  color: $bmedium;
  font-weight: 500;
}

.h5-style {
  font-weight: 500;
  color: black;
}

.link-style {
  color: $bdark;
}

.link-grey {
  color: $gmedium;
}

.link-grey:hover {
  color: $gdark;
}

