// shared spacing

.mt-6 {
  margin-top: $spacer*4
}

.mb-6 {
  margin-bottom: $spacer*4
}

.mr-6 {
  margin-right: $spacer*4
}

.ml-6 {
  margin-left: $spacer*4
}

.my-6 {
  margin-top: $spacer*4;
  margin-bottom: $spacer*4
}

.mx-6 {
  margin-right: $spacer*4;
  margin-left: $spacer*4
}

.pt-6 {
  padding-top: $spacer*4
}

.pb-6 {
  padding-bottom: $spacer*4
}

.pr-6 {
  padding-right: $spacer*4
}

.pl-6 {
  padding-left: $spacer*4
}

.py-6 {
  padding-top: $spacer*4;
  padding-bottom: $spacer*4
}

.px-6 {
  padding-right: $spacer*4;
  padding-left: $spacer*4
}
