.tag {
  background-color: $glight;
  width: $spacer*3;
  text-align: center;
  border-radius: $border-radius;
}

.tag-hide {
  background-color: $glight;
  color: $gmedium;
  width: $spacer*7;
  text-align: center;
  border: none;
  border-radius: $border-radius;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.65;
  transition: 0.2s ease;
}
