[data-tooltip]:before {
    position : relative;
     content : attr(data-tooltip);
     opacity : 0;
}

[data-tooltip]:hover:before {
  opacity : 1;
  background-color: $glight;
  border-radius: $border-radius;
  padding: $small-space $spacer ;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}
